* {
  margin: 0;
}
.wrapper {
  background-color: azure;
  width: 100%;
  gap: 30px;
}
.wrapper h2 {
  text-align: center;
  margin: 80px 150px;
  font-size: 30px;
}
div.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

div.item img {
  width: 250px;
  height: 250px;
}

div.item {
  border-radius: 20px;
  border: 1px solid;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


