/*
діапазон починаємо зі слова and 
*/
/*
на шаблоні   header , footer залишаються незміннимим ,то ми працюємо з центральною частиною 
*/
@media screen and (max-width: 480px) {
  /*
    1)працюємо з нашою обготкою ,вкажемо що компоненти в ній повинні тепер розміститись  не по горизонталі а по вертикалі (зазначити що напрямок розміщення це колоночка )
    */
  .wrapper {
    flex-direction: column;
  }
  /*
    відповідно компоненти переміщаються ,але при цьому всьому зберігають той розмір який їм було задано ще на початку ,значить необхідно 
    */
  main,
  aside {
    width: 100%;
  }
  main {
    height: 60vh;
  }
  aside,
  header,
  footer,
  section {
    height: 10vh;
  }

  /*

     Блакитний блок 
     для того щоб  ми його побачили  ,його необхідно створити ,перед хедером і врепером ,є серція яка потрібна тільки на мобільному телефоні 
     необхідно поперше в звичайних стилях вказати що цієї серції не існує 
     */
  section {
    width: 100%;
    display: block;
    background-color: aqua;
  }
  header p::after {
    content: "mobile";
  }

  /*
    */
  body {
    font-size: 10px;
  }
}
