/*
-----------------------ОНУЛЕННЯ СТИЛІВ ДЛЯ ВСІХ КОМПОНЕНТІВ----------------------------------------
*/
/*
1)По перше для роботи з проектом нам необхідно онулити те що нам буде заважати
,та створити для цього окремий файл css і там це онулити
*/

/*
ми зазначимо що для всіх елементів які у нас є на сторінці ми приберемо відступи зовнішні та внутрішні
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@400..900&family=Special+Gothic+Expanded+One&display=swap');
* {
  margin: 0;
  padding: 0;
  /*
    box-sizing -властивість яка ,коли ми задаємо padding всередині того ж блоку 
    ,семантичного або div ,то за рахунок педінга який ми вказали елемент буде розширюватись 
    ,і відпровідно це може призвести до неконтрольованого розміру,щоб такого не було ми визначаємо box-sizing :border-box;
    і коли ми навіть пропишемо падінг для якогось компонента він не розширеться(не стане більшим)
    */
  box-sizing: border-box;

  /*
    також ми можемо задати для посилання буде відсутня встроена деккорація
    */
  text-decoration: none;
  /*
    також ми можемо задати для списків буде відсутня встроена деккорація
    */
  list-style-type: none;
}
/*
---------------------------------HEADER------------------------------------------------

*/

.active-link:hover{
   color: aquamarine;
}
/*
тепер працюємо з header

*/
header {
  /*
    вказуємо спочатку його параметри
    висота всієї сторінки приблизно 100vh відповідно 
     header від 100 займає приблизно 10 vh , main частина приблизно 90
    */
  height: 10vh;
  background-color: white;
  /*
нам також необхідно поставити елеиенти один біля одного
 ,для цього необхідно зазначити що цей компонент буде flex-контейнером
*/
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: "Orbitron", sans-serif;
}
/*
нам необхідно змінити вирівнювання з вирівнюванням по лівому краю на центральний вирівнювання
*/
header div {
  text-align: center;
}

header div h3{
    font-size: 16px;
}
header nav ul{
    /*
    відповідно елементи вирівняються в один рядок
    */
    display: flex;
    /*
    відстань між елементами - gap/margin
    */
    gap:20px ;

}
/*
Змінюємо стиль посилання  
 */

header  nav a{
    color: azure;
    font-size: 23px;
}
/*
-----------------------------------Main-------------------------------------------
*/

main{
    height: 90vh;
    background-image: url('/classworks/HTML-CSS/lesson12/marita-kavelashvili-ugnrXk1129g-unsplash.jpg');
    /*
    для пропорційного та нормального розтягування сторінки
    */
    background-size: cover;
    /*
    вирівнює контент по середині 1)text-align, 2)другий спосіб - flex
    */
    /*
   коли ми прописуємо  flex всі елементи вирівнюються по горизонталі
   ,а кнопка оскільки не має віксованої ширини та висоти 
   ,вона розтягується на увесь доступний простір
    */
    display: flex;
    /*
    для того щоб елементи стояли один під одним 
    */
    flex-direction: column;
    /*
    коли ми зазначаємо ,ми міняємо  головну вісь(відповідно до скріншота пояснення 
    ,у нас є головна вісь(х) та у нас є вісь (у) ,відповідно коли ми працюємо з елементами які стоять в рядочок 
    ,то горизонталь,це властивість justisy-content,вертикаль це властивість  - align-item,коли ми вказуємо що елементи
     стоятимуть не в рядочок ,а в стовпчик,ми міняємо ці вісі місцями , для того щоб вирівнювати елементи по вертикалі
      , ми використовуємо властивіст - justify-content,для вирівнювання по горизонталі - align-item)
    */

    /*
    елементи прибьються до верху  нашою сторінки 
    */
    justify-content:flex-start ;
    /*
   далі коли ми пропишемо  align-item ,вона пересуне їх до центру самої сторінки по горизонталі
    */
    align-items:center ;
    font-family: "Orbitron", sans-serif;
    /*
    нам потрібно в межах самого контейнера зробити внутрішній відступ
    */
    padding-top: 50px;


}
main p{
    font-size: 23px;
}
main h1{
    font-size: 100px;
    /*
    розсув літер- формується за допомогою властивості -letter-spacing- 
    визначає наскільки ми розсовуємо літери
    */
    letter-spacing:30px ;
}
main button{
    width:160px ;
    height: 40px;
    background-color: black;
    /*
    кольор всередині білий 
    */
    color: white;
    border: none;
    /*
    зовнішній відступ від елмента
    */
    margin-top:20px ;
    transition: 2s;
}
main button:hover{
    /*
    ми трансформуємо даний елемент ,ми його збільшуємо
    */
    transform: scale(1.1) ;
    /*
    прописуємо плавність
    */
    transition: 2s;
    color: aquamarine;
}